<!DOCTYPE html>
<head>
  <title>Pusher Chat</title>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
    var pusher = new Pusher('a21c1d876b090ae230df', {
      encrypted: true
    });
    var channel = pusher.subscribe('private-chat_channel');
    channel.bind('pusher:subscription_error', function(status) {
      if(status == 408 || status == 503){
        // retry?
      }
    });
    channel.bind('client-message', function(data) {
      alert(data.message);
      var div = document.getElementById('messages');
      div.innerHTML += data.message.msg;
    });
    channel.trigger("client-message", {msg: "Welcome!"});
  </script>
</head>
<body>
  <div id="messages">
  </div>
</body>
</html>